form {
font-size: larger;
padding: 25px;
}
#message {
    width: 500px;
    height: 500px;
}

#h2{
    text-align: center;
    text-shadow: silver;
}
input {
    padding: 2px;
    margin: 2px;
    border: 2px solid gold;
    border-radius: 50px;
}
textarea {
    padding: 2px;
    margin: 2px;
    border: 2px solid gold;
    border-radius: 10px;
    
}
.container {
    display: flex;
}
.child {
    flex: 1;
}  
.child:first-child{
    margin-right: 2px;
}